:root {
    /*--- farvepalette ---*/
    --clr_dark: #181818;
    --clr_light: #fffcfa;
    --clr_main: #4d6242;
    --clr_accent: #c24620;

    /*--- typografier ---*/
    --header_font: embarcadero-mvb-pro-condense, sans-serif;
    /* font weights:
        condensed = 400
        medium = 500
        bold = 700
        extra bold = 800
        black = 900
    */
    --main_font: ofelia-text, sans-serif;
    /* font weights:
        light = 300
        regular = 400
        medium = 500
        semibold = 600
        bold = 700
    */

    /*--- skriftstørrelser ---*/
    --xl_font: clamp(2rem, 3.2vw, 3rem);
    --l_font: clamp(1rem, 2vw, 2.2rem);
    --m_font: clamp(0.5rem, 1.2vw, 1.4rem);
    --xs_font: clamp(0.2rem, 1vw, 1rem);
}

/* ------------------
    GENEREL STYLING
--------------------- */

body {
    background-color: var(--clr_light);
    color: var(--clr_dark);
    font-family: var(--main_font);
}

h1, h2, h3, h4, button {
    font-family: var(--header_font);
}

h1 {
    font-size: var(--xl_font);
    font-weight: 800;
}

.cta_btn {
    background-color: var(--clr_accent);
    color: var(--clr_light);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}

/* ------------------
    NAVIGATION
--------------------- */

header {
    display: flex;
    flex-direction: column;
}

.hero_img {
    max-height: 58vh;
    object-fit: cover;
    transform-origin: center;
}

nav {
    background-color: var(--clr_main);
    color: var(--clr_light);
    display: flex;
    gap: 5%;
    font-size: var(--m_font);
    font-weight: 500;
    justify-content: space-between;
    padding: 1% 5%;
    text-transform: uppercase;
}

.logo_link {
    display: inline-block;
    width: 10%;
}

.logo_img {
    display: block;
}

.logo_link:hover > .logo_img {
    opacity: .7;
}

.menu {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    width: 83%;
}

.menu_item {
    cursor: pointer;
    display: flex;
    gap: .6vw;
}

.menu_arrow {
    height: 1.2vw;
}

.menu_icons {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    width: 7%;
}

.menu_icons img {
    cursor: pointer;
    height: 45%;
    max-width: 50%;
}

.menu_icons img:hover {
    opacity: .7;
}

.sub_menu {
    display: none;
}


/* ------------------
    FORSIDE
--------------------- */












































































































/* ------------------
    FEJLSIDE
--------------------- */

.error_main {
    align-items: center;
    display: flex;
    flex-direction: column;
}


































































































































/* ------------------
    FOOTER
--------------------- */

footer {
    background-color: var(--clr_main);
    color: var(--clr_light);
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "contact some links"
    "news news news"
    "copyright copyright copyright";
    margin-top: 10%;
    padding: 5%;
}

footer h3 {
    font-size: var(--l_font);
    margin-bottom: 5%;
}

.contact {
    display: flex;
    flex-direction: column;
    grid-area: contact;
}

.contact p:not(:last-child) {
    margin-bottom: 3%;
}

.some {
    align-items: center;
    display: flex;
    grid-area: some;
    justify-content: center;
}

.some a {
    margin: 0 5%;
    width: 20%;
}

.links {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-area: links;
}

.links a:not(:last-child) {
    margin-bottom: 3%;
}

.news {
    display: flex;
    flex-direction: column;
    grid-area: news;
    margin: 0 auto;
    width: 45%;
}

.news h3 {
    margin-bottom: 2%;
}

.news form {
    border: 2px solid var(--clr_light);
    display: flex;
    margin-bottom: 5%;
}

.news form input {
    border: none;
    background-color: transparent;
    padding: 1% 2%;
    width: 75%;
}

.news form input::placeholder {
    color: var(--clr_light);
    font-family: var(--main_font);
    font-size: var(--xs_font);
    font-weight: 300;
    opacity: .8;
}

.news form button {
    border: 0;
    border-left: 2px solid var(--clr_light);
    width: 25%;
}

.copy {
    font-size: var(--xs_font);
    grid-area: copyright;
    margin-top: 2%;
}

