:root {
    /*--- farvepalette ---*/
    --clr_dark: #181818;
    --clr_light: #fffcfa;
    --clr_main: #4d6242;
    --clr_accent: #c24620;

    /*--- typografier ---*/
    --header_font: embarcadero-mvb-pro-condense, sans-serif;
    /* font weights:
        condensed = 400
        medium = 500
        bold = 700
        extra bold = 800
        black = 900
    */
    --main_font: ofelia-text, sans-serif;
    /* font weights:
        light = 300
        regular = 400
        medium = 500
        semibold = 600
        bold = 700
    */

    /*--- skriftstørrelser ---*/
    --xl_font: 3rem;
    --l_font: 1.5rem;
    --m_font: clamp(0.5rem, 1.2vw, 1.4rem);
}

/* ------------------
    GENEREL STYLING
--------------------- */

body {
    background-color: var(--clr_light);
    color: var(--clr_dark);
    font-family: var(--main_font);
}

h1, h2, h3, h4 {
    font-family: var(--header_font);
}

/* ------------------
    NAVIGATION
--------------------- */

header {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--clr_main);
    color: var(--clr_light);
    display: flex;
    gap: 5%;
    font-size: var(--m_font);
    font-weight: 500;
    height: fit-content;
    justify-content: space-between;
    padding: 1% 5%;
    text-transform: uppercase;
}

.logo_link {
    height: 100%;
    max-width: 12%;
}

.logo_link:hover > .logo_img {
    opacity: .7;
}

.menu {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.menu_item {
    cursor: pointer;
    display: flex;
    gap: .6vw;
}

.menu_arrow {
    height: 1.2vw;
}

.menu_icons {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 8%;
}

.menu_icons img {
    cursor: pointer;
    height: 40%;
    max-width: 50%;
}

.menu_icons img:hover {
    opacity: .7;
}

.sub_menu {
    display: none;
}